<h1>Resultados de busqueda</h1>
<hr>

<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let hero of heros; let i = index">
        <img [src]="hero.img" class="card-img-top" [alt]="hero.nombre">
        <div class="card-body">
            <h5 class="card-title">{{ hero.nombre }}</h5>
            <p class="card-text">{{ hero.bio }}</p>
            <p class="card-text"><small class="text-muted">{{ hero.aparicion }}</small></p>
            <button class="btn btn-outline-primary btn-block">
              Ver mas...
            </button>
        </div>
    </div>
</div>
