<h1>Héroes de DC y Marvel</h1>
<hr>

<div class="card-columns">
    <div class="card" *ngFor="let as of a">
        <img src="assets/img/batman.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>